@import url('home.css');
@import url('BlogPost.css');
@import url('MediaQuerie.css');
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    font-size: 12px;
}
